{
  "presets": ["@babel/preset-react", "babel-preset-expo"],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {}
      }
    ]
  ]
}
