{
  "presets": ["@babel/preset-react", "babel-preset-expo"],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@theme": "./src/theme"
        }
      }
    ]
  ]
}
